*.md     text eol=lf
*.json   text eol=lf
*.php    text eol=lf
*.yml    text eol=lf
*.dist   text eol=lf
LICENCE  text eol=lf
.github/ export-ignore
tests/   export-ignore
stuff/   export-ignore
*.dist   export-ignore
